<div class="footer">
        <div class="footer-row">
          <div class="footer-column">
            <ul class="footer-list">
              <li class="apacheroyale">APACHE ROYALE</li>
              <li><a class="footer-list_a" href="https://royale.apache.org/">Home</a></li>
              <li><a class="footer-list_a" href="https://royale.apache.org/features/">Features</a></li>
              <li><a class="footer-list_a" href="https://royale.apache.org/try-it-now/">Try it now</a></li>
              <li><a class="footer-list_a" href="https://royale.apache.org/download/">Download</a></li>
              <li><a class="footer-list_a" href="https://royale.apache.org/ides/">IDEs</a></li>
              <li><a class="footer-list_a" href="https://www.npmjs.com/org/apache-royale">NPM</a></li>
              <li><a class="footer-list_a" href="https://royale.apache.org/showcase/">Showcase</a></li>
              <li><a class="footer-list_a" href="https://royale.apache.org/blog/">Blog</a></li>
              <li><a class="footer-list_a" href="https://royale.apache.org/team/">Team</a></li>
              <li><a class="footer-list_a" href="https://royale.apache.org/thanks-to/">Thanks To</a></li>
              <li><a class="footer-list_a" href="https://royale.apache.org/license/"><i class="grve-menu-icon fa fa-external-link-square"></i>Apache License v2.0</a></li>
            </ul>
          </div>
    
          <div class="footer-column">
            <ul class="footer-list">
              <li class="documentation">DOCUMENTATION</li>
              <li><a class="footer-list_a" href="{{ site.baseurl }}/get-started">get-started</a></li>
              <li><a class="footer-list_a" href="https://royale.apache.org/docs/">Docs</a></li>
              <li><a class="footer-list_a" href="https://royale.apache.org/asdoc/">Reference</a></li>
              <li><a class="footer-list_a" href="https://github.com/apache/royale-asjs/wiki"><i class="grve-menu-icon fa fa-github"></i>Wiki</a></li>
              <li><a class="footer-list_a" href="https://stackoverflow.com/questions/tagged/apache-royale"><i class="grve-menu-icon fa fa-stack-overflow"></i>StackOverFlow Tag</a></li>
            </ul>
            <ul class="footer-list">
              <li class="community">COMMUNITY</li>
              <li><a class="footer-list_a" href="https://royale.apache.org/get-involved/">Get Involved</a></li>
              <li><a class="footer-list_a" href="https://royale.apache.org/mailing-lists/">Mailing Lists</a></li>
              <li><a class="footer-list_a" href="https://royale.apache.org/faq/">FAQ</a></li>
            </ul>
            <ul class="footer-list">
              <li class="development">DEVELOPMENT</li>
              <li><a class="footer-list_a" href="https://github.com/apache/royale-asjs/wiki/Apache-Royale-Source-Code-Repositories"><i class="grve-menu-icon fa fa-github"></i>Github</a></li>
              <li><a class="footer-list_a" href="https://royale.apache.org/source-code/">Source Code</a></li>
              <li><a class="footer-list_a" href="https://github.com/apache/royale-asjs/issues"><i class="grve-menu-icon fa fa-github"></i>Issues</a></li>
            </ul>							      
          </div>
    
          <div class="footer-column">
            <ul class="footer-list">
              <li class="social_t">SOCIAL</li>
              <li><a class="footer-list_a" href="https://twitter.com/apacheroyale">Twitter</a></li>
              <li><a class="footer-list_a" href="https://facebook.com/ApacheRoyaleSDK/">Facebook</a></li>
              <!-- <li><a class="footer-list_a" href="https://plus.google.com/communities/110767346686043669380">Google+</a></li> -->
              <li><a class="footer-list_a" href="https://www.linkedin.com/groups/12118437">LinkedIn</a></li>
              <li><a class="footer-list_a" href="https://royale.apache.org/feed/">RSS</a></li>
            </ul>
            <ul class="footer-list">
              <li class="apache">APACHE</li>
              <li><a class="footer-list_a" href="https://www.apache.org/"><i class="grve-menu-icon fa fa-external-link-square"></i>Apache</a></li>
              <li><a class="footer-list_a" href="https://www.apache.org/foundation/contributing.html"><i class="grve-menu-icon fa fa-external-link-square"></i>Donations</a></li>
              <li><a class="footer-list_a" href="https://www.apache.org/events/current-event"><i class="grve-menu-icon fa fa-external-link-square"></i>Events</a></li>
              <li><a class="footer-list_a" href="https://www.apache.org/foundation/sponsorship.html"><i class="grve-menu-icon fa fa-external-link-square"></i>Sponsorship</a></li>
              <li><a class="footer-list_a" href="https://www.apache.org/foundation/thanks.html"><i class="grve-menu-icon fa fa-external-link-square"></i>Thanks</a></li>
              <li><a class="footer-list_a" href="https://www.apache.org/security/"><i class="grve-menu-icon fa fa-external-link-square"></i>Security</a></li>
            </ul>
          </div>
    
          <div class="aboutusdiv" >
            <p class="aboutus">ABOUT US</p>
            <p class="aboutus_p"><img class="aboutus-logo" src="https://royale.apache.org/wp-content/uploads/2017/10/apache-royale-logo-footer-circle-grey.svg"/><a href=https://royale.apache.org/index.html" class="aboutus_a">Apache Royale™</a> is a highly productive open source application technology for building expressive frontend applications that outputs to different formats and deploy consistently on all major browsers, desktops and devices.</p>
            <p><img class="aboutus-apache-logo" src="https://royale.apache.org/wp-content/uploads/2017/10/Apache_PoweredBy.svg" />
            <a href="https://royale.apache.org" class="aboutus_a">Apache Royale™</a>, <a href="https://www.apache.org" class="aboutus_a">Apache™</a> and the <a href="https://www.apache.org/foundation/press/kit/" class="aboutus_a">Apache feather logo™</a> are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners. Read more about our privacy policy on our <a href="https://royale.apache.org/privacy-policy">Privacy Policy page</a>.</p>
          </div>
          
        </div>
        <div class="asf">
          Copyright © 2017-2023 <a href="https://www.apache.org">The Apache Software Foundation</a>, Licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>
        </div>
      </div>