<li class="topMenu_li fa">
    <a class="topMenu_li_a" href="https://royale.apache.org/features/">FEATURES</a>
</li>
<li class="topMenu_li fa">
    <a class="topMenu_li_a" href="{{ site.baseurl }}/get-started">GET STARTED</a>
</li>
<li class="topMenu_li fa">
    <a class="topMenu_li_a" href="https://royale.apache.org/download/">DOWNLOAD</a>
</li>
<li class="topMenu_li fa">
    <a class="topMenu_li_a" href="https://royale.apache.org/docs/">DOCS</a>
</li>
<li class="topMenu_li fa">
    <a class="topMenu_li_a" href="https://royale.apache.org/blog/">BLOG</a>
</li>
<li class="topMenu_li">
    <a class="topMenu_li_a" href="https://github.com/apache/royale-asjs/wiki/Apache-Royale-Source-Code-Repositories"><span class="grve-item"><i class="grve-menu-icon fa fa-github"></i>GITHUB</span></a>
</li>