<li class="topMenu_li fa">
    <a class="topMenu_li_a" href="https://royale.apache.org/features/">Features</a>
</li>
<li class="topMenu_li fa">
    <a class="topMenu_li_a" href="{{ site.baseurl }}/get-started">Get Started</a>
</li>
<li class="topMenu_li fa">
    <a class="topMenu_li_a" href="https://royale.apache.org/download/">Download</a>
</li>
<li class="topMenu_li fa">
    <a class="topMenu_li_a" href="https://royale.apache.org/docs/">Docs</a>
</li>
<li class="topMenu_li fa">
    <a class="topMenu_li_a" href="https://royale.apache.org/blog/">Blog</a>
</li>
<li class="topMenu_li">
    <a class="topMenu_li_a" href="https://github.com/apache/royale-asjs/wiki/Apache-Royale-Source-Code-Repositories"><span class="grve-item"><i class="grve-menu-icon fa fa-github"></i>&nbsp;Github</span></a>
</li>