<!DOCTYPE HTML>
<!--

Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/royalesite.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<base href="{{ site.baseurl }}/" />
<title>{{page.title}}</title>
</head>

<body class="page">
{% assign welcome_menu_open = "none" %}
{% assign features_menu_open = "none" %}
{% assign involved_menu_open = "none" %}
{% assign started_menu_open = "none" %}
{% assign app_menu_open = "none" %}
{% assign lifecycle_menu_open = "none" %}
{% assign docpath = page.url | split: "/" %}
{% for part in docpath %}
{% if part == "Welcome" %}
  {% assign welcome_menu_open = "block" %}
{% elsif part == "Features" %}
  {% assign features_menu_open = "block" %}
{% elsif part == "GetInvolved" %}
  {% assign involved_menu_open = "block" %}
{% elsif part == "GetStarted" %}
  {% assign started_menu_open = "block" %}
{% elsif part == "CreateAnApplication" %}
  {% assign app_menu_open = "block" %}
{% elsif part == "ApplicationLifecycle" %}
  {% assign lifecycle_menu_open = "block" %}
{% endif %}
{% endfor %}

{% assign welcome = "inline" %}
{% assign high_level_view = "inline" %}
{% assign features_and_concepts = "inline" %}
{% assign as3 = "inline" %}
{% assign mxml = "inline" %}
{% assign payg = "inline" %}
{% assign strands_and_beads = "inline" %}
{% assign what_royale_and_you_can_do = "inline" %}
{% assign a_bit_of_history = "inline" %}
{% assign licenses_and_policies = "inline" %}
{% assign get_involved = "inline" %}
{% assign the_royale_team = "inline" %}
{% assign the_apache_community = "inline" %}
{% assign get_started = "inline" %}
{% assign system_requirements = "inline" %}
{% assign development_tools = "inline" %}
{% assign frameworks = "inline" %}
{% assign download_royale = "inline" %}
{% assign hello_world = "inline" %}
{% assign create_an_application = "inline" %}
{% assign application_lifecycle = "inline" %}
{% assign design = "inline" %}
{% assign configure = "inline" %}
{% assign build = "inline" %}
{% assign deploy = "inline" %}
{% assign secure = "inline" %}
{% assign maintain = "inline" %}
{% assign structure = "inline" %}
{% assign label_welcome = "none" %}
{% assign label_high_level_view = "none" %}
{% assign label_features_and_concepts = "none" %}
{% assign label_as3 = "none" %}
{% assign label_mxml = "none" %}
{% assign label_payg = "none" %}
{% assign label_strands_and_beads = "none" %}
{% assign label_what_royale_and_you_can_do = "none" %}
{% assign label_a_bit_of_history = "none" %}
{% assign label_licenses_and_policies = "none" %}
{% assign label_get_involved = "none" %}
{% assign label_the_royale_team = "none" %}
{% assign label_the_apache_community = "none" %}
{% assign label_get_started = "none" %}
{% assign label_system_requirements = "none" %}
{% assign label_development_tools = "none" %}
{% assign label_frameworks = "none" %}
{% assign label_download_royale = "none" %}
{% assign label_hello_world = "none" %}
{% assign label_create_an_application = "none" %}
{% assign label_application_lifecycle = "none" %}
{% assign label_design = "none" %}
{% assign label_configure = "none" %}
{% assign label_build = "none" %}
{% assign label_deploy = "none" %}
{% assign label_secure = "none" %}
{% assign label_maintain = "none" %}
{% assign label_structure = "none" %}
{% case page.title %}
    {% when "Welcome to Apache Royale" %}
      {% assign welcome = "none" %}
      {% assign label_welcome = "inline" %}
    {% when "HIgh Level View" %}
      {% assign high_level_view = "none" %}
      {% assign label_high_level_view = "inline" %}
    {% when "Features and Concepts" %}
      {% assign features_and_concepts = "none" %}
      {% assign label_features_and_concepts = "inline" %}
    {% when "AS3" %}
      {% assign as3 = "none" %}
      {% assign label_as3 = "inline" %}
    {% when "MXML" %}
      {% assign mxml = "none" %}
      {% assign label_mxml = "inline" %}
    {% when "PAYG" %}
      {% assign payg = "none" %}
      {% assign label_payg = "inline" %}
    {% when "Strands and Beads" %}
      {% assign strands_and_beads = "none" %}
      {% assign label_strands_and_beads = "inline" %}
    {% when "What Royale and You Can Do" %}
      {% assign what_royale_and_you_can_do = "none" %}
      {% assign label_what_royale_and_you_can_do = "inline" %}
    {% when "A Bit of History" %}
      {% assign a_bit_of_history = "none" %}
      {% assign label_a_bit_of_history = "inline" %}
    {% when "Licenses and Policies" %}
      {% assign licenses_and_policies = "none" %}
      {% assign label_licenses_and_policies = "inline" %}
    {% when "Get Involved" %}
      {% assign get_involved = "none" %}
      {% assign label_get_involved = "inline" %}
    {% when "The Royale Team" %}
      {% assign the_royale_team = "none" %}
      {% assign label_the_royale_team = "inline" %}
    {% when "The Apache Community" %}
      {% assign the_apache_community = "none" %}
      {% assign label_the_apache_community = "inline" %}
    {% when "Get Started" %}
      {% assign get_started = "none" %}
      {% assign label_get_started = "inline" %}
    {% when "System Requirements" %}
      {% assign system_requirements = "none" %}
      {% assign label_system_requirements = "inline" %}
    {% when "Development Tools" %}
      {% assign development_tools = "none" %}
      {% assign label_development_tools = "inline" %}
    {% when "Frameworks" %}
      {% assign frameworks = "none" %}
      {% assign label_frameworks = "inline" %}
    {% when "Download Royale" %}
      {% assign download_royale = "none" %}
      {% assign label_download_royale = "inline" %}
    {% when "Hello, World" %}
      {% assign hello_world = "none" %}
      {% assign label_hello_world = "inline" %}
    {% when "Create an Application" %}
      {% assign create_an_application = "none" %}
      {% assign label_create_an_application = "inline" %}
    {% when "Application Lifecycle" %}
      {% assign application_lifecycle = "none" %}
      {% assign label_application_lifecycle = "inline" %}
    {% when "Design" %}
      {% assign design = "none" %}
      {% assign label_design = "inline" %}
    {% when "Configure" %}
      {% assign configure = "none" %}
      {% assign label_configure = "inline" %}
    {% when "Build" %}
      {% assign build = "none" %}
      {% assign label_build = "inline" %}
    {% when "Deploy" %}
      {% assign deploy = "none" %}
      {% assign label_deploy = "inline" %}
    {% when "Secure" %}
      {% assign secure = "none" %}
      {% assign label_secure = "inline" %}
    {% when "Maintain" %}
      {% assign maintain = "none" %}
      {% assign label_maintain = "inline" %}
    {% when "Structure" %}
      {% assign structure = "none" %}
      {% assign label_structure = "inline" %}
{% endcase %}
<div class="topbar">
<img src="http://royale.codeoscopic.com/wp-content/uploads/2018/01/apache-royale-tm-logo-dark.svg" style="margin-top:15px; margin-bottom: 5px; width: 190px; height: 40px;"/>
<ul class="topMenu">
<li class="topMenu_li fa">
	<a class="topMenu_li_a" href="http://royale.apache.org/features.html">FEATURES</a>
</li>
<li class="topMenu_li fa">
	<a class="topMenu_li_a" href="http://royale.apache.org/tryitnow/index.html">TRY IT NOW</a>
</li>
<li class="topMenu_li fa">
	<a class="topMenu_li_a" href="http://royale.apache.org/download.html">DOWNLOAD</a>
</li>
<li class="topMenu_li fa">
	<a class="topMenu_li_a" href="http://royale.apache.org/documentation.html">DOCS</a>
</li>
<li class="topMenu_li fa">
	<a class="topMenu_li_a" href="http://royale.apache.org/blog.html">BLOG</a>
</li>
<li class="topMenu_li fa fa-github">
	<a class="topMenu_li_a" href="http://royale.apache.org/github.html">GITHUB</a>
</li>
</ul>
<ul class="social">
<li class="social_li fa fa-search">
	<a href="search.html"></a>
</li>
<li class="social_li fa fa-share-alt">
	<a href="share.html"></a>
</li>
<li class="social_li fa fa-th">
	<a href="menu.html"></a>
</li>
</ul>
</div>
<p class="tagline">Designed for the future.  Code Once.  Run Everywhere.</p>
<div class="toc_and_doc">
  <div class="toc" id="toc">
    <div class="toc_entry">
      <a class="toc_link" href="index.html" style="display: {{ welcome }}">Welcome to Apache Royale</a>
      <span class="toc_label" style="display: {{ label_welcome }}">Welcome to Apache Royale</span>
    </div>
    <div id="welcome_menu" class="menu_div" style="display: {{ welcome_menu_open }}">
      <div class="toc_entry" >
        <a class="toc_link" href="Welcome/High%20Level%20View.html" style="display: {{ high_level_view }}">High Level View</a>
        <span class="toc_label" style="display: {{ label_high_level_view }}">High Level View</span>
      </div>
      <div class="toc_entry" >
        <a class="toc_link" href="Welcome/Features%20and%20Concepts.html" style="display: {{ features_and_concepts }}">Features and Concepts</a>
        <span class="toc_label" style="display: {{ label_features_and_concepts }}">Features and Concepts</span>
      </div>
      <div id="features_and_concepts_menu" class="menu_div2" style="display: {{ features_menu_open }}">
        <div class="toc_entry" >
          <a class="toc_link" href="Welcome/Features/AS3.html" style="display: {{ as3 }}">AS3</a>
          <span class="toc_label" style="display: {{ label_as3 }}">AS3</span>
        </div>
        <div class="toc_entry" >
          <a class="toc_link" href="Welcome/Features/MXML.html" style="display: {{ mxml }}">MXML</a>
          <span class="toc_label" style="display: {{ label_mxml }}">MXML</span>
        </div>
        <div class="toc_entry" >
          <a class="toc_link" href="Welcome/Features/PAYG.html" style="display: {{ payg }}">PAYG</a>
          <span class="toc_label" style="display: {{ label_payg }}">PAYG</span>
        </div>
        <div class="toc_entry" >
          <a class="toc_link" href="Welcome/Features/Strands%20And%20Beads.html" style="display: {{ strands_and_beads }}">Strand and Beads</a>
          <span class="toc_label" style="display: {{ label_strands_and_beads }}">Strand and Beads</span>
        </div>
      </div>
      <div class="toc_entry" >
        <a class="toc_link" href="Welcome/What%20Royale%20and%20You%20Can%20Do.html" style="display: {{ what_royale_and_you_can_do }}">What Royale and You Can Do</a>
        <span class="toc_label" style="display: {{ label_what_royale_and_you_can_do }}">What Royale and You Can Do</span>
      </div>
      <div class="toc_entry" >
        <a class="toc_link" href="Welcome/A%20Bit%20of%20History.html" style="display: {{ a_bit_of_history }}">A Bit of History</a>
        <span class="toc_label" style="display: {{ label_a_bit_of_history }}">A Bit of History</span>
      </div>
      <div class="toc_entry" >
        <a class="toc_link" href="Welcome/Licenses%20and%20Policies.html" style="display: {{ licenses_and_policies }}">Licenses and Policies</a>
        <span class="toc_label" style="display: {{ label_licenses_and_policies }}">Licenses and Policies</span>
      </div>
      <div class="toc_entry" >
        <a class="toc_link" href="Welcome/Get%20Involved.html" style="display: {{ get_involved }}">Get Involved!</a>
        <span class="toc_label" style="display: {{ label_get_involved }}">Get Involved!</span>
      </div>
      <div id="get_involved_menu" class="menu_div2" style="display: {{ involved_menu_open }}">
        <div class="toc_entry" >
          <a class="toc_link" href="Welcome/GetInvolved/The%20%Royale%20Team.html" style="display: {{ the_royale_team }}">The Royale Team</a>
          <span class="toc_label" style="display: {{ label_the_royale_team }}">The Royale Team</span>
        </div>
        <div class="toc_entry" >
          <a class="toc_link" href="Welcome/GetInvolved/The%20Apache%20Community.html" style="display: {{ the_apache_community }}">The Apache Community</a>
          <span class="toc_label" style="display: {{ label_the_apache_community }}">The Apache Community</span>
        </div>
      </div>
    </div>
    <div class="toc_entry">
      <a class="toc_link" href="Get%20Started.html" style="display: {{ get_started }}">Get Started</a>
      <span class="toc_label" style="display: {{ label_get_started }}">Get Started</span>
    </div>
    <div id="get_started_menu" class="menu_div" style="display: {{ started_menu_open }}">
      <div class="toc_entry" >
        <a class="toc_link" href="GetStarted/System%20Requirements.html" style="display: {{ system_requirements }}">System Requirements</a>
        <span class="toc_label" style="display: {{ label_system_requirements }}">System Requirements</span>
      </div>
      <div class="toc_entry" >
        <a class="toc_link" href="GetStarted/Development%20Tools.html" style="display: {{ development_tools }}">Development Tools</a>
        <span class="toc_label" style="display: {{ label_development_tools }}">Development Tools</span>
      </div>
      <div class="toc_entry" >
        <a class="toc_link" href="GetStarted/Frameworks.html" style="display: {{ frameworks }}">Frameworks</a>
        <span class="toc_label" style="display: {{ label_frameworks }}">Frameworks</span>
      </div>
      <div class="toc_entry" >
        <a class="toc_link" href="GetStarted/Download%20Royale.html" style="display: {{ download_royale }}">Download Royale</a>
        <span class="toc_label" style="display: {{ label_download_royale }}">Download Royale</span>
      </div>
      <div class="toc_entry" >
        <a class="toc_link" href="GetStarted/Hello%20World.html" style="display: {{ hello_world }}">Hello, World!</a>
        <span class="toc_label" style="display: {{ label_hello_world }}">Hello, World!</span>
      </div>
    </div>
    <div class="toc_entry">
      <a class="toc_link" href="Create%20An%20Application.html" style="display: {{ create_an_application }}">Create an Application</a>
      <span class="toc_label" style="display: {{ label_create_an_application }}">Create an Application</span>
    </div>
    <div id="create_an_application_menu" class="menu_div" style="display: {{ app_menu_open }}">
      <div class="toc_entry">
        <a class="toc_link" href="CreateAnApplication/Application%20Lifecycle.html" style="display: {{ application_lifecycle }}">Application Lifecycle</a>
        <span class="toc_label" style="display: {{ label_application_lifecycle }}">Application Lifecycle</span>
      </div>
      <div id="application_lifecycle_menu" class="menu_div2" style="display: {{ lifecycle_menu_open}}">
        <div class="toc_entry" >
          <a class="toc_link" href="CreateAnApplication/ApplicationLIfecycle/Design.html" style="display: {{ design }}">Design</a>
          <span class="toc_label" style="display: {{ label_design }}">Design</span>
        </div>
        <div class="toc_entry" >
          <a class="toc_link" href="CreateAnApplication/ApplicationLIfecycle/Configure.html" style="display: {{ configure }}">Configure</a>
          <span class="toc_label" style="display: {{ label_configure }}">Configure</span>
        </div>
        <div class="toc_entry" >
          <a class="toc_link" href="CreateAnApplication/ApplicationLIfecycle/Build.html" style="display: {{ build }}">Build</a>
          <span class="toc_label" style="display: {{ label_build }}">Build</span>
        </div>
        <div class="toc_entry" >
          <a class="toc_link" href="CreateAnApplication/ApplicationLIfecycle/Deploy.html" style="display: {{ deploy }}">Deploy</a>
          <span class="toc_label" style="display: {{ label_deploy }}">Deploy</span>
        </div>
        <div class="toc_entry" >
          <a class="toc_link" href="CreateAnApplication/ApplicationLIfecycle/Secure.html" style="display: {{ secure }}">Secure</a>
          <span class="toc_label" style="display: {{ label_secure }}">Secure</span>
        </div>
        <div class="toc_entry" >
          <a class="toc_link" href="CreateAnApplication/ApplicationLIfecycle/Maintain.html" style="display: {{ maintain }}">Maintain</a>
          <span class="toc_label" style="display: {{ label_maintain }}">Maintain</span>
        </div>
      </div>
      <div class="toc_entry" >
        <a class="toc_link" href="CreateAnApplication/Structure.html" style="display: {{ structure }}">Structure</a>
        <span class="toc_label" style="display: {{ label_structure }}">Structure</span>
      </div>
    </div>
  </div>
  <div class="content" id="content">
    {{content}}
  </div>
</div>
<div class="footer">
  <div class="footer-column">
  <ul class="footer-list">
    <li class="apacheroyale">APACHE ROYALE</li>
    <li><a class="footer-list_a" href="http://royale.apache.org/index.html">Home</a></li>
    <li><a class="footer-list_a" href="http://royale.apache.org/features.html">Features</a></li>
    <li><a class="footer-list_a" href="http://royale.apache.org/tryitnow/index.html">Try it now</a></li>
    <li><a class="footer-list_a" href="http://royale.apache.org/download.html">Download</a></li>
    <li><a class="footer-list_a" href="http://royale.apache.org/showcase.html">Showcase</a></li>
    <li><a class="footer-list_a" href="http://royale.apache.org/blog.html">Blog</a></li>
    <li><a class="footer-list_a" href="http://royale.apache.org/team.html">Team</a></li>
    <li><a class="footer-list_a" href="http://royale.apache.org/royalenpm.html">Royale in npm</a></li>
    <li><a class="footer-list_a" href="http://royale.apache.org/license.html">License</a></li>
  </ul>
  </div>
  <div class="footer-column">
  <ul class="footer-list">
    <li class="documentation">DOCUMENTATION</li>
    <li><a class="footer-list_a" href="http://royale.apache.org/index.html">Getting Started</a></li>
    <li><a class="footer-list_a" href="http://royale.apache.org/docs.html">Docs</a></li>
    <li><a class="footer-list_a" href="http://royale.apache.org/reference/index.html">Reference</a></li>
    <li><a class="footer-list_a" href="http://royale.apache.org/wiki.html">Wiki</a></li>
  </ul>
  <ul class="footer-list">
    <li class="community">COMMUNITY</li>
    <li><a class="footer-list_a" href="contribute.html">Get Involved</a></li>
    <li><a class="footer-list_a" href="mailinglists.html">Mailing Lists</a></li>
    <li><a class="footer-list_a" href="faq.html">FAQ</a></li>
  </ul>
  </div>
  <div class="footer-column">
  <ul class="footer-list">
    <li class="development">DEVELOPMENT</li>
    <li><a class="footer-list_a" href="http://royale.apache.org/github.html">Github</a></li>
    <li><a class="footer-list_a" href="http://royale.apache.org/source.html">Source Code</a></li>
    <li><a class="footer-list_a" href="http://royale.apache.org/issues.html">Issues</a></li>
  </ul>
  <ul class="footer-list">
    <li class="apache">APACHE</li>
    <li><a class="footer-list_a" href="http://www.apache.org/">Apache</a></li>
    <li><a class="footer-list_a" href="http://www.apache.org/donations.html">Donations</a></li>
    <li><a class="footer-list_a" href="http://www.apache.org/thanks.html">Sponsorship</a></li>
    <li><a class="footer-list_a" href="http://www.apache.org/thanks.html">Thanks</a></li>
  </ul>
  </div>
  <div class="aboutusdiv" >
  	<p class="aboutus">ABOUT US</p>
    <p class="aboutus_p"><img class="aboutus-logo" src="http://royale.codeoscopic.com/wp-content/uploads/2017/10/apache-royale-logo-footer-circle-grey.svg"/><a href=https://royale.apache.org/index.html" class="aboutus_a">Apache Royale™</a> is a highly productive open source application technology for building expressive frontend applications that outputs to different formats and deploy consistently on all major browsers, desktops and devices.</p>
    <p><img class="aboutus-apache-logo" src="http://royale.codeoscopic.com/wp-content/uploads/2017/10/Apache_PoweredBy.svg" />
    <a href=https://royale.apache.org/index.html" class="aboutus_a">Apache Royale™</a>, <a href="http://www.apache.org" class="aboutus_a">Apache™</a> and the <a href="http://www.apache.org/foundation/press/kit/" class="aboutus_a">Apache feather logo™</a> are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners. Read more about our privacy policy on our Privacy Policy page.</p>
  </div>
</div>
<div class="asf">
Copyright © 2017 <a href="http://www.apache.org">The Apache Software Foundation</a>, Licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>
</div>
</body>
</html>
